<div class="container" >
    <div class="title">
        <h1 class="home" routerLink="/dashboard/books">Home/</h1>
        <span style="font-size: 18px;margin-top: -5px;">My cart</span>
    </div>
    <div class="card" *ngIf="haveCart()" >
        <div class="head">
            <h2>My cart({{count}})</h2>
            <div class="locBox"><mat-icon style="color:brown;">pin_drop</mat-icon> <span>Use current location</span></div>
        </div>
        <div *ngFor="let cart of Listofcarts" class="cart">
            <div><img style="width: 65px; height: 85px;" src="{{cart.bookImg}}" alt=""></div>
            <div class="details">
                <h3>{{cart.bookName}}</h3>
                <h5 style="color: lightgray; margin-top: -15px;">by {{cart.authorName}}</h5>
                <div style="display: flex; gap: 5px; margin-top: -10px;">
                    <div style="font-weight: 500;">Rs.{{cart.discountPrice}}</div>
                    <div style="color: #878787;"><s>Rs.{{cart.mrp}}</s></div>
                </div>
                <div style="display: flex; gap: 10px; margin-top: 10px; align-items: center; justify-content: center;">
                    <button mat-icon-button class="circle" (click)="flags=false; updateQuantity(cart);" >-</button>
                    <div class="box">{{cart.quantity}}</div>
                    <button mat-icon-button class="circle" (click)="flags=true; updateQuantity(cart); ">+</button>
                    <button (click)="remove(cart.cartId)" mat-button style="font-size: 15px; margin-left: 12px; ">Remove</button>
                </div>
            </div>
            <div style=" display: flex; align-items: flex-end; justify-content: end; width: 100%;">
                <button mat-button class="orderbtn" *ngIf="!address" (click)="address = true; checkout(cart);">PLACE ORDER</button>
            </div>
        </div>
    </div>
    <div class="card">
        <h2 *ngIf="!address" style="font-weight: 400; margin-left: 40px; margin-top: 12px;">Address Details</h2>
        <div *ngIf="address" >
            <div class="head">
                <h2 style="font-weight: 400;">Customer Details</h2>
                <button mat-flat-button style="border: 1px solid #A03037; border-radius: 2px; color: #A03037; font-size: 15px;">Add New Address</button>
            </div>
            <div class="form">
                <form [formGroup]="AddressForm" (ngSubmit)="AddAddress()">
                    <div class="first">
                      <div class="formItem">
                        <label>Full Name</label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Full Name" formControlName="fullName">
                        </mat-form-field>
                      </div>
                      <div class="formItem1">
                        <label>Mobile Number</label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="Mobile Number" formControlName="mobileNumber">
                        </mat-form-field>
                      </div>
                    </div>
                    <div style="display: flex; flex-direction: column; width:87%">
                        <label>Address</label>
                        <mat-form-field appearance="outline">
                          <textarea matInput placeholder="Enter your Address"></textarea>
                        </mat-form-field>
                    </div>
                    <div class="first">
                      <div class="formItem">
                        <label>city/town</label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="city" formControlName="city">
                        </mat-form-field>
                      </div>
                      <div class="formItem1">
                        <label>State</label>
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="State" formControlName="state">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="formItem">
                        <label>Type</label>
                        <mat-radio-group formControlName="type" [formControl]="floatLabelControl" style="display: flex; gap: 50px;">
                            <mat-radio-button value="Home">Home</mat-radio-button>
                            <mat-radio-button value="Work">Work</mat-radio-button>
                            <mat-radio-button value="Others">Others</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </form>
            </div>
            <div class="continue">
                <button mat-flat-button *ngIf="!order" (click)="order=true; AddAddress();">CONTINUE</button>                
            </div>
        </div>
    </div>
    <div class="card">
        <h2 style="font-weight: 400; margin-left: 40px; margin-top: 12px;">Order Summary</h2>
        <div *ngIf="order" class="cart">
            <div><img style="width: 65px; height: 85px;" src="{{cartOrder.bookImg}}" alt=""></div>
            <div class="details">
                <h3>{{cartOrder.bookName}}</h3>
                <h5 style="color: lightgray; margin-top: -15px;">by {{cartOrder.authorName}}</h5>
                <div style="display: flex; gap: 5px; margin-top: -10px;">
                    <div style="font-weight: 500;">Rs.{{cartOrder.discountPrice}}</div>
                    <div style="color: #878787;"><s>Rs.{{cartOrder.mrp}}</s></div>
                </div>
            </div>
            <div style=" display: flex; align-items: flex-end; justify-content: end; width: 100%;">
                <button mat-button class="orderbtn" *ngIf="order" (click)="placeOrder();" >CHECKOUT</button>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
  <span style="margin-left: 170px;">Copyright &copy; 2020, Bookstore Private Limited. All Rights Reserved.</span>
</footer>