<div class="container">
    <h1><img src="../../assets/OrderSuccess.png" alt=""></h1>
    <div class="text">
        <span>hurray!!! your order is confirmed</span>
        <span>the order id is #123456 save the order id for</span>
        <span>further communication..</span>
    </div>
    <table border="1px solid lightgrey" cellSpacing="0px" class="tableStyle">
        <tr>
            <th style="width: 28%;">Email us</th>
            <th style="width: 28%;">Contact us</th>
            <th>Address</th>
        </tr>
        <tr>
            <td><span>admin&#64;bookstore.com</span></td>
            <td>+91 9874563210</td>
            <td>42, 14th Main, 15th Cross, Sector 4 ,opp to BDA complex, near Kumarakom restaurant, HSR Layout, Bangalore 560034</td>
        </tr>
    </table>
    <button mat-flat-button style="background-color: #3371B5; color: white; margin-top: 30px;" routerLink="/dashboard">CONTINUE SHOPPING</button>
</div>
<div>
    <footer class="footer">
        <span style="margin-left: 170px;">Copyright &copy; 2020, Bookstore Private Limited. All Rights Reserved.</span>
    </footer>
</div>