<mat-toolbar class="nav">
    <mat-toolbar-row class="rowitems">
        <div class="main">
            <div class="div1">
                <div><img src="../../assets/education.svg" alt=""></div>
                <h1>BookStore</h1>
            </div>
            <div class="search-container">
                <button class="header-btn-menu" mat-icon-button aria-label="menu">
                  <img src="../../assets/search.svg" alt="">
                </button>
                <input type="text" placeholder="Search" (keyup)="searchingBook($event)"/>
              </div>
        </div>
        
        <div class="endItems">
            <div class="d1">
                <button mat-button class="item" [matMenuTriggerFor]="profile">
                    <img src="../../assets/person.svg" alt="">
                    <p style="font-size: 12px; color: #FFFFFF; margin-top:-10px;">Profile</p>
                </button>
                <mat-menu #profile="matMenu">
                    <h4>Hello Chiru,</h4>
                    <button mat-menu-item>
                        <span>Profile</span>
                    </button>
                    <button mat-menu-item>
                      <span>my order</span>
                    </button>
                    <button mat-menu-item>
                      <span>Wish List</span>
                    </button>
                    <button mat-menu-item>Logout</button>
                  </mat-menu>
            </div>
            <div class="d1">
                <button mat-button class="item">
                    <img src="../../assets/carts.svg" alt="">
                    <p style="font-size: 12px; color: #FFFFFF; margin-top:-10px;">Cart</p>
                </button>
            </div>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
