<div class="container">
  <div class="title">
    <h1 style="margin-top: 9px; color: lightgrey; font-size: 15px;">Home/</h1>
    <span style="font-size: 18px;margin-top: -5px;">Book({{id}})</span>
  </div>
<div style="display: flex;">
    <div>
      <div><img class="small" src="{{bookObject.bookImg}}" alt=""></div>
      <div><img class="small" src="{{bookObject.bookImg}}" alt=""></div>
    </div>
    <mat-card class="card" routerLink="/dashboard/getBook"style="border: lightgray solid 1px;">
        <mat-card-header class="headers">
          <mat-card-title><img class="image" src="{{bookObject.bookImg}}" alt=""></mat-card-title>
        </mat-card-header>
        <mat-card-content style="display: flex; justify-content: space-between;">
            <div><button style="background-color: brown; color: white;" mat-flat-button>ADD TO BAG</button></div>
            <div><button style="background-color: #333333; color: white;" mat-flat-button><mat-icon>favorite</mat-icon>WISHLIST</button></div>
        </mat-card-content>
    </mat-card>
    <div style="margin-left: 30px; width: 600px;">
      <h1>{{bookObject.bookName}}</h1>
      <h4 style="color:#878787; margin-top: -13px;">by {{bookObject.authorName}}</h4>
      <div class="ratings" style="margin-top: -10px;">
        <div class="ratingbox">
          <span>{{bookObject.rating}}</span>
          <mat-icon style="font-size: 15px; align-content: center;">star</mat-icon>
        </div>
        <div style="color: #878787;">({{bookObject.noofRatings}})</div>
      </div>
      <div class="ratings" style="margin-top: 10px;">
        <div ><h1 style="font-weight: 500;">Rs.{{bookObject.discountPrice}}</h1></div>
        <div style="color: #878787;"><h2><s>Rs.{{bookObject.mrp}}</s></h2></div>
      </div>
      <hr>
      <ul style="margin-left: -20px; color: #878787;"><li>Book Details<br>
        {{bookObject.description}} <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus fuga, quod, reiciendis accusamus nisi adipisci commodi facere officia, et mollitia hic aspernatur magni. Iusto similique neque quo sequi incidunt? Nostrum?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam expedita iusto voluptatum nesciunt! Quis eligendi corrupti numquam voluptatem quo perferendis</span>
      </li></ul>
      <hr>
      <div style="margin-top: 10px;"><h3>Customer FeedBack</h3></div>
      <div style="width: 100%; height: auto; padding: 30px; background-color:#F5F5F5;">
        <h4>Overall rating</h4>
        <input type="textarea" style="width: 100%; height: 80px;" >
        <button mat-button style="display: flex; justify-content: flex-end; background-color: rgb(76, 76, 241); color: white;">Submit</button>
      </div>
    </div>
</div>
</div>